:javascript
  window.OpenBudget = #{ {meta: @meta}.to_json.html_safe };

- content_for :title do
  = @meta['page_title']
- content_for :description do
  = @meta['description']

.header
  .row
    .large-12.columns
      .share
        - if @subdomain.present?
          = link_to "https://twitter.com/intent/tweet?hashtags=ogd&text=#{u(@meta['page_title'])}&url=http%3A%2F%2F#{@subdomain}.budget.opendata.ch%2F&amp;via=OpendataCH", target: '_blank', title: 'Tweet', data: {tooltip: '', options: 'disable-for-touch:true'} do
            %i.icon-twitter
          = link_to "https://www.facebook.com/sharer.php?u=http%3A%2F%2F#{@subdomain}.budget.opendata.ch%2F", target: '_blank', title: 'Share', data: {tooltip: '', options: 'disable-for-touch:true'} do
            %i.icon-facebook-sign
          - mail_html = capture_haml do
            %i.icon-envelope
          = mail_to '', mail_html, subject: "#{@meta['h1']}: #{@meta['h2']}", body: "Link:\nhttp://#{@subdomain}.budget.opendata.ch", title: 'per Email weiterempfehlen', data: {tooltip: '', options: 'disable-for-touch:true'}
          - mail_html = capture_haml do
            %i.icon-bullhorn
          = mail_to 't@preus.se', mail_html, subject: "OpenBudget Feedback: #{@subdomain}", title: 'Feedback', data: {tooltip: '', options: 'disable-for-touch:true'}

        = link_to 'https://github.com/tpreusse/open-budget/tree/experiment', target: '_blank', title: 'Quellcode', data: {tooltip: '', options: 'disable-for-touch:true'} do
          %i.icon-github

      %h1
        = link_to 'http://www.opendata.ch/' do
          = image_tag 'opendatach-icon.png', alt: 'OpenData.ch', title: 'OpenData.ch'
        = "#{sanitize(@meta['h1'])}: #{sanitize(@meta['h2'])}"


    .large-12.columns.controls-container
      .left.large-12.columns
        %ul.segmented-control.type.button-group.radius
          %li
            %a.button.secondary.active{title: 'Finanzielle Auswirkungen', data: {tooltip: '', options: 'disable-for-touch:true', value:'budgets'}} Geld
          %li
            %a.button.secondary{title: 'Auswirkungen Vollzeitstellen', data: {tooltip: '', options: 'disable-for-touch:true', value:'positions'}} Stellen

        %ul.segmented-control.data.button-group.radius
          - @meta['data'].each do |dataSet|
            %li
              %a.button.secondary{data:{value:dataSet['url']}}= dataSet['name']

        %ul.segmented-control.levels.button-group.radius
          %li
            %a.button.secondary{data:{value:1}} Direktionen
          %li
            %a.button.active.secondary{data:{value:2}} Massnahmen

        %ul.segmented-control.year.button-group.radius
          / Voranschlag
          %li
            %a.button.secondary.active 2014
          / Aufgaben-/Finanzplan
          %li
            %a.button.secondary 2015
          %li
            %a.button.secondary 2016
          %li
            %a.button.secondary 2017

%svg.main

.rest
  .row
    #detail-modal.reveal-modal.large
    #no-detail-modal.reveal-modal.small
      %p
        Es sind keine zusätzlichen Informationen verfügbar. Versuchen sie es bei der Datenquelle:
        = link_to @meta['source']['text'], @meta['source']['url']

    .large-12.columns
      %ul.inline-list.legend

      %p= link_to @meta['source']['text'], @meta['source']['url']

      %h3 Tabellarische Auflistung
      .table-container
        %table.main
          %thead
            %tr
              %th{colspan:2} Massnahme
              %th
                2014
                %br
                %span.format (Mio. CHF)
              %th
                2015
                %br
                %span.format (Mio. CHF)
              %th
                2016
                %br
                %span.format (Mio. CHF)
              %th
                2017
                %br
                %span.format (Mio. CHF)
          %tfoot
            %tr
              %td{colspan:2} Total
              %td
              %td
              %td
              %td
          %tbody

      .opendatach
        %p
          = link_to 'http://www.opendata.ch/' do
            = image_tag 'opendatach.png', alt: 'OpenData.ch'
