:javascript
  window.OpenBudget = #{ {meta: @meta}.to_json.html_safe };

- content_for :title do
  = @meta['page_title']
- content_for :description do
  = @meta['description']

.header
  .row
    .large-12.columns
      %h1= sanitize(@meta['h1'])
      %h2= sanitize(@meta['h2'])

      %form.custom
        %div{style:"float:left"}
          %select#data.large
            - @meta['data'].each do |dataSet|
              %option{value:dataSet['url']}= dataSet['name']

        %div{style:"float:left"}
          %select#levels.large
            %option{value:'1'} Direktionen
            %option{value:'2', selected: 'selected'} Massnahmen

        %div{style:"float:left"}
          %select#year.large
            %optgroup{label: 'Voranschlag'}
              %option{value: '2014'} 2014
            %optgroup{label: 'Aufgaben-/Finanzplan'}
              %option{value: '2015'} 2015
              %option{value: '2016'} 2016
              %option{value: '2017'} 2017

%svg.main

.rest
  .row
    #detail-modal.reveal-modal.large
    #no-detail-modal.reveal-modal.small
      %p
        Es sind keine zusätzlichen Informationen verfügbar. Versuchen sie es bei der Datenquelle:
        = link_to @meta['source']['text'], @meta['source']['url']

    .large-12.columns
      %h3 Tabulare Auflistung
      %table
        %thead
          %tr
            %th
            %th Massnahme
            %th 2014
            %th 2015
            %th 2016
            %th 2017
        %tbody

      %p
        = link_to 'https://github.com/tpreusse/open-budget/tree/experiment' do
          Quellcode
        \-
        = link_to @meta['source']['text'], @meta['source']['url']
        \-
        = link_to 'mailto:t@preus.se' do
          Feedback

      %p
        - if @subdomain.present?
          = link_to "https://twitter.com/intent/tweet?hashtags=ogd&text=#{u(@meta['page_title'])}&url=http%3A%2F%2F#{@subdomain}.budget.opendata.ch%2F&amp;via=OpendataCH", {target: '_blank'} do
            Tweet
          \-
          = link_to "https://www.facebook.com/sharer.php?u=http%3A%2F%2F#{@subdomain}.budget.opendata.ch%2F", {target: '_blank'} do
            Facebook

      .opendatach
        %p
          = link_to 'http://www.opendata.ch/' do
            = image_tag 'opendatach.png', alt: 'OpenData.ch'
