<%

content_for :title do
    @meta['page_title']
end
content_for :description do
    @meta['description']
end

content_for :html_class do
    @meta['html_class']
end

if @meta['uservoice'].present?
    content_for :scripts do 
        %>
        <script type="text/javascript">
          var uvOptions = {};
          (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/<%= @meta['uservoice'] %>.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
          })();
        </script>
        <%
    end
end

%>

<svg id="canvas">
    <defs>
    </defs>
</svg>
<div id="sidebar">
    <h1><%= simple_format(@meta['h1']) %></h1>
    <h2><%= simple_format(@meta['h2']) %></h2>

    <!--<div id="search">
        <label for="search-field">
            <i class="icon-search"></i>
        </label>
        <input id="search-field" type="text" />
    </div>-->

    <ul class="breadcrumb"></ul>

    <table id="table" class="table table-hover">
        <thead>
            <tr class="overview">
                <th><%= @meta['hierarchy'][0] %></th>
                <th style="text-align:right"><%= @meta['gross_cost_label'] %></th>
                <th style="text-align:right"><%= @meta['revenue_label'] %></th>
            </tr>
            <tr class="compare">
                <th></th>
                <th style="text-align:right"><%= @meta['label1'] %></th>
                <th></th>
                <th style="text-align:right"><%= @meta['label2'] %></th>
            </tr>
        </thead>
        <tbody>
            <tr class="overview">
                <td></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
            </tr>
            <tr class="compare">
                <td></td>
                <td class="n2012"></td>
                <td class="diff"></td>
                <td class="n2012"></td>
            </tr>
        </tbody>
    </table>
</div>
<div id="footer">
    <a id="opendatach" href="http://www.opendata.ch/">
        <%
            image_name = if @meta['html_class'].present?
                "opendatach-#{@meta['html_class']}.png"
            else
                "opendatach.png"
            end
        %>
        <%= image_tag image_name, alt: "OpenData.ch" %>
    </a>
    <p>
        <a href="<%= @meta['data_link'] %>"><%= @meta['data_title'] %></a>
        <% if @meta['uservoice'].present? %>
            -
            <a href="javascript:UserVoice.showPopupWidget();">Feedback &amp; Support</a>
        <% end %>
    </p>
    <p class="links">
        <a href="https://github.com/tpreusse/open-budget">Quellcode</a>
        <% if @subdomain.present? %>
            - 
            <a href="https://twitter.com/intent/tweet?hashtags=ogd&amp;text=<%= u(@meta['page_title']) %>&amp;url=http%3A%2F%2F<%= @subdomain %>.budget.opendata.ch%2F&amp;via=OpendataCH" target="_blank">Tweet</a> -
            <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2F<%= @subdomain %>.budget.opendata.ch%2F" target="_blank">Facebook</a>
        <% end %>
    </p>
</div>

<script type="text/javascript">
    window.OpenBudget = <%= {data: {meta: @meta}}.to_json.html_safe %>;
</script>
