<%

content_for :title do
    @data['meta']['page_title']
end
content_for :description do
    @data['meta']['description']
end

content_for :html_class do
    @data['meta']['html_class']
end

%>

<svg id="canvas">
    <defs>
    </defs>
</svg>
<div id="sidebar">
    <h1><%= @data['meta']['h1'] %></h1>
    <h2><%= @data['meta']['h2'] %></h2>

    <!--<div id="search">
        <label for="search-field">
            <i class="icon-search"></i>
        </label>
        <input id="search-field" type="text" />
    </div>-->

    <ul class="breadcrumb"></ul>

    <table id="table" class="table table-hover">
        <thead>
            <tr class="overview">
                <th><%= @data['meta']['hierarchy'][0] %></th>
                <th style="text-align:right">Bruttokosten</th>
                <th style="text-align:right">Erlöse</th>
            </tr>
            <tr class="compare">
                <th></th>
                <th style="text-align:right">2013</th>
                <th></th>
                <th style="text-align:right">2012</th>
            </tr>
        </thead>
        <tbody>
            <tr class="overview">
                <td></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
            </tr>
            <tr class="compare">
                <td></td>
                <td class="n2013"></td>
                <td class="diff"></td>
                <td class="n2012"></td>
            </tr>
        </tbody>
    </table>
</div>
<div id="footer">
    <a id="opendatach" href="http://www.opendata.ch/">
        <%
            image_name = if @data['meta']['html_class'].present?
                "opendatach-#{@data['meta']['html_class']}.png"
            else
                "opendatach.png"
            end
        %>
        <%= image_tag image_name, alt: "OpenData.ch" %>
    </a>
    <p>
        <a href="<%= @data['meta']['data_link'] %>"><%= @data['meta']['data_title'] %></a> -
        <a href="javascript:UserVoice.showPopupWidget();">Feedback &amp; Support</a>
    </p>
    <p class="links">
        <a href="https://github.com/tpreusse/open-budget">Quellcode</a> - 
        <a href="https://twitter.com/intent/tweet?hashtags=ogd&amp;text=Stadt%20Bern%20Produktegruppen-Budget%202013&amp;url=http%3A%2F%2Ft.preus.se%2Fbernbudget2013%2F&amp;via=OpendataCH" target="_blank">Tweet</a> -
        <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Ft.preus.se%2Fbernbudget2013%2F" target="_blank">Facebook</a> -
        <a href="http://t.preus.se/bernbudget2013/v1">Alte Version</a>
    </p>
</div>

<script type="text/javascript">
    window.OpenBudget = <%= @data['json'].html_safe %>;
</script>
